
<!DOCTYPE html> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--><!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--><!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--><!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--><head> 
	<meta charset="UTF-8"> 
	
	<title>ToppyQuest - For asking Toppy a question!</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>	

	<meta name="description" content=""> 
	<meta name="author" content=""> 

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <meta name="google-site-verification" content="7wngj3dqJtdNWF3gbJfUte1YkarNP1lxcx_-BmaH4QU" />

	<link rel="shortcut icon" href="favicon.ico"> 
	<link rel="apple-touch-icon" href="apple-touch-icon.png"> 
	
<body> 
		<div id="header-container">
<header class="wrapper"> 
      <h1 id="title">Toppy Quest</h1> 
			<nav> 
				<ul> 
					<li><%= link_to "Questions", posts_path %></li> 
					<li><%= link_to "Register", new_user_path %></li> 
					<li><%= link_to "About Us", root_path %></li> 
					<li><a href="#">navigation</a></li> 
					<li><a href="#">navigation</a></li> 
				</ul> 
			</nav> 
		</header> 
	</div> 
	<div id="main" class="wrapper"> 
		<aside> 
        <a href="http://www.facebook.com/pages/Toppy-Quest/203133489712368" 
        target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; 
        font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; 
        text-decoration: none;" 
        title="Toppy Quest">Toppy Quest</a><br/>
        <a href="http://www.facebook.com/pages/Toppy-Quest/203133489712368" target="_TOP" title="Toppy Quest">
          <img src="http://badge.facebook.com/badge/203133489712368.3010.843035183.png" width="120" height="85" style="border: 0px;" /></a><br/>
        <a href="http://www.facebook.com/business/dashboard/" target="_TOP" 
          style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; 
          font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" 
          title="Make your own badge!">Promote Your Page Too</a>
        <!-- Facebook Badge END }-->
        <!-- Like Box -->
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FToppy-Quest%2F203133489712368&amp;
          width=195&amp;colorscheme=dark&amp;show_faces=true&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" 
          style="border:none; overflow:hidden; width:195px; height:427px;" allowTransparency="true"></iframe>
    </aside> 

    <div id="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.email %>
        <%= link_to "Log Out", log_out_path %>
      <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "Log in", log_in_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash#{name}" %>
    <% end %>

		<%= yield %>
	</div> 
	<div id="footer-container"> 
		<footer class="wrapper"> 
			<h3>Make good Choices!</h3> 
		</footer> 
	</div>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]--></body> 
</html>
